.form-container {
    max-width: 60%;
    margin: 50px auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*border-radius: 10px;*/
  }

  .form-field {
    margin-bottom: 20px;
  }

  .form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-field input, .form-field p-calendar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .p-button {
    padding-left: 33%;
    padding-bottom: 2.5%;
    font-size: 25px;
    background-color: #555;
    text-align: center;
    height: 100%;
    width: 100%; /* Button width adjusted to match input fields */
  }

.p-button:hover {
    background-color: #333;
}
::ng-deep .p-datepicker-trigger {
    background-color: #333; /* Change to your desired color */
  }

  .chip-border{
    margin-top: 20px;
  }
  
  .custom-chip{
      background-color: #404040; /* Change this to your preferred color */
      color: white; /* Adjust text color if needed */
      padding-left: 10px; 
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: large;
      font-weight: 550;
      border-radius: 10px;
      margin: 5px;
      /* margin: 1%;
      padding-left: 10px;
      font-size: large;
      font-weight: 550;
      padding-bottom: 5px;
      border-radius: 10px;
      height: 120px; */
      
  }
  .custom-chip button{
      background-color: #404040; 
      border-radius: 10px;
      height: 30px;
      padding: 3px;
      font-size: 30px;
  }
  
  .custom-chip button:hover{
      background-color: #ff0000;
  }
